/* Styles dung chung tro giup qua trinh lam giao dien
-------------------------------------------------- */

/* RESET
-------------------------------------------------- */
* {
    outline: 0 !important;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

html, body {
    height: 100%;
}


/* Border
-------------------------------------------------- */
.border-primary {
	border-color: lighten(@brand-primary, 20%);
}

.border-success {
	border-color: lighten(@brand-success, 20%);
}

.border-info {
	border-color: lighten(@brand-info, 20%);
}

.border-danger {
	border-color: lighten(@brand-danger, 20%);
}

.border-warning {
	border-color: lighten(@brand-warning, 20%);
}
.border-none{
    border: none;
}
.border-white{
    border-color: #fff;
}



/* TEXT
-------------------------------------------------- */

.text-large {
    font-size: @font-size-large;
}

.text-small {
    font-size: @font-size-small;
}


.text-color,
.text-color:hover {
    color: @text-color;
}

.text-gray {
    color: @gray;
}

.text-gray-light {
    color: @gray-light;
}

.text-gray-lighter {
    color: @gray-lighter;
}

/* FORM
-------------------------------------------------- */
select.input-xs {
    height: 22px;
    line-height: 22px;
}

.form-group {
    .error {
        .form-control-validation(@state-danger-text, @state-danger-text, @state-danger-bg);
    }
    .success {
        .form-control-validation(@state-success-text, @state-success-text, @state-success-bg);
    }
    .warning {
        .form-control-validation(@state-warning-text, @state-warning-text, @state-warning-bg);
    }
}

.label {
    &.text-medium {
        font-size: 85%;
    }
}

/* NAV
-------------------------------------------------- */
.nav {
    &.nav-pills {
        &.nav-danger {
            .active a,
            .active a:hover,
            .active a:focus {
                background-color: @brand-danger;
            }
        }
        &.nav-success {
            .active a,
            .active a:hover,
            .active a:focus {
                background-color: @brand-success;
            }
        }

    }
}



/* IMAGE
-------------------------------------------------- */
.thumbnail {
    &:extend(.img-responsive);
}


/* GRID : http://www.helloerik.com/bootstrap-3-grid-introduction
-------------------------------------------------- */
.gutter,
.gutter .row {
    padding-left: 5px;
    padding-right: 5px;
    > * {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.row{
    &.nested{
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
}
.col{
    &.nested-col{
        margin-left: 0px;
        padding-left: 0px;
        label{
            left: 0;
        }
    }
}

/* COMPONENT
-------------------------------------------------- */
.popover {
    min-width: 200px;
}



/* Responsive
-------------------------------------------------- */
@media (max-width: 600px) {
    .center-only-small-align{
        text-align: center;
    }
}



/* OVERRIDE BOOTSTRAP
-------------------------------------------------- */
// button group
.btn-group{
	&.btn-group-right{
		float: left;
		.dropdown-menu{
			right: 0;
			left: inherit;
		}
	}
}
.btn{
//    .border-radius(@border-radius-base);
    &.btn-link{
        border: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }
}

.label, .box{
//    .border-radius(@border-radius-base);
}