/* Styles dung chung tro giup qua trinh lam giao dien
-------------------------------------------------- */
/* RESET
-------------------------------------------------- */
* {
  outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
html,
body {
  height: 100%;
}
/* Border
-------------------------------------------------- */
.border-primary {
  border-color: #78acd9;
}
.border-success {
  border-color: #a3d7a3;
}
.border-info {
  border-color: #b0e1ef;
}
.border-danger {
  border-color: #eba5a3;
}
.border-warning {
  border-color: #f8d9ac;
}
.border-none {
  border: none;
}
.border-white {
  border-color: #fff;
}
/* TEXT
-------------------------------------------------- */
.text-large {
  font-size: 18px;
}
.text-small {
  font-size: 12px;
}
.text-color,
.text-color:hover {
  color: #333333;
}
.text-gray {
  color: #555555;
}
.text-gray-light {
  color: #777777;
}
.text-gray-lighter {
  color: #eeeeee;
}
/* FORM
-------------------------------------------------- */
select.input-xs {
  height: 22px;
  line-height: 22px;
}
.form-group .error .help-block,
.form-group .error .control-label,
.form-group .error .radio,
.form-group .error .checkbox,
.form-group .error .radio-inline,
.form-group .error .checkbox-inline,
.form-group .error.radio label,
.form-group .error.checkbox label,
.form-group .error.radio-inline label,
.form-group .error.checkbox-inline label {
  color: #a94442;
}
.form-group .error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-group .error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.form-group .error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.form-group .error .form-control-feedback {
  color: #a94442;
}
.form-group .success .help-block,
.form-group .success .control-label,
.form-group .success .radio,
.form-group .success .checkbox,
.form-group .success .radio-inline,
.form-group .success .checkbox-inline,
.form-group .success.radio label,
.form-group .success.checkbox label,
.form-group .success.radio-inline label,
.form-group .success.checkbox-inline label {
  color: #3c763d;
}
.form-group .success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-group .success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.form-group .success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.form-group .success .form-control-feedback {
  color: #3c763d;
}
.form-group .warning .help-block,
.form-group .warning .control-label,
.form-group .warning .radio,
.form-group .warning .checkbox,
.form-group .warning .radio-inline,
.form-group .warning .checkbox-inline,
.form-group .warning.radio label,
.form-group .warning.checkbox label,
.form-group .warning.radio-inline label,
.form-group .warning.checkbox-inline label {
  color: #8a6d3b;
}
.form-group .warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-group .warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.form-group .warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.form-group .warning .form-control-feedback {
  color: #8a6d3b;
}
.label.text-medium {
  font-size: 85%;
}
/* NAV
-------------------------------------------------- */
.nav.nav-pills.nav-danger .active a,
.nav.nav-pills.nav-danger .active a:hover,
.nav.nav-pills.nav-danger .active a:focus {
  background-color: #d9534f;
}
.nav.nav-pills.nav-success .active a,
.nav.nav-pills.nav-success .active a:hover,
.nav.nav-pills.nav-success .active a:focus {
  background-color: #5cb85c;
}
/* IMAGE
-------------------------------------------------- */
/* GRID : http://www.helloerik.com/bootstrap-3-grid-introduction
-------------------------------------------------- */
.gutter,
.gutter .row {
  padding-left: 5px;
  padding-right: 5px;
}
.gutter > *,
.gutter .row > * {
  padding-left: 5px;
  padding-right: 5px;
}
.row.nested {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.col.nested-col {
  margin-left: 0px;
  padding-left: 0px;
}
.col.nested-col label {
  left: 0;
}
/* COMPONENT
-------------------------------------------------- */
.popover {
  min-width: 200px;
}
/* Responsive
-------------------------------------------------- */
@media (max-width: 600px) {
  .center-only-small-align {
    text-align: center;
  }
}
/* OVERRIDE BOOTSTRAP
-------------------------------------------------- */
.btn-group.btn-group-right {
  float: left;
}
.btn-group.btn-group-right .dropdown-menu {
  right: 0;
  left: inherit;
}
.btn.btn-link {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.center {
  width: 50%;
  height: 50%;
}
.display-none {
  display: none;
}
.line-hieght1 {
  line-height: 1;
}
.line-hieght1-5 {
  line-height: 2;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.display-flex {
  display: flex;
}
.text-error,
.text-red {
  color: red !important;
}
.lineheight25 {
  line-height: 25px;
}
.no-hover {
  text-decoration: none !important;
}
.text-del {
  text-decoration: line-through !important;
}
.text-normal {
  font-weight: normal !important;
}
.font-300 {
  font-weight: 300 !important;
}
.font-400 {
  font-weight: 400 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-700 {
  font-weight: 700 !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-white {
  color: #fff !important;
}
.text-yellow {
  color: #FFF200;
}
.text-black {
  color: #333 !important;
}
.text-underline {
  text-decoration: underline;
}
.white-background,
.bg-white {
  background-color: #FFFFFF !important;
}
.color-teal {
  color: #00a65a;
}
.text-highlight {
  color: #EA8620;
}
.text-upper {
  text-transform: uppercase;
}
.text-upper-first {
  text-transform: capitalize;
}
.text-lower {
  text-transform: lowercase;
}
.text-transform-none {
  text-transform: none !important;
}
.text-silver {
  color: silver !important;
}
.text-black {
  color: #000 !important;
}
.text-333 {
  color: #333 !important;
}
.text-444 {
  color: #444 !important;
}
.text-555 {
  color: #555 !important;
}
.text-666 {
  color: #666 !important;
}
.text-666666 {
  color: #666666 !important;
}
.text-999 {
  color: #999 !important;
}
.text-orange {
  color: #e88209;
}
.text-purple {
  color: #9b59b6;
}
.text-green {
  color: #2dcb73;
}
.text-blue {
  color: #0082d0 !important;
}
.text-blue2 {
  color: #005195;
}
.text-7 {
  font-size: 7px !important;
}
.text-8 {
  font-size: 8px !important;
}
.text-9 {
  font-size: 9px !important;
}
.text-10 {
  font-size: 10px !important;
}
.text-11 {
  font-size: 11px !important;
}
.text-12 {
  font-size: 12px !important;
}
.text-13 {
  font-size: 13px !important;
}
.text-14 {
  font-size: 14px !important;
}
.text-15 {
  font-size: 15px !important;
}
.text-16 {
  font-size: 16px !important;
}
.text-17 {
  font-size: 17px !important;
}
.text-18 {
  font-size: 18px !important;
}
.text-19 {
  font-size: 19px !important;
}
.text-20 {
  font-size: 20px !important;
}
.text-21 {
  font-size: 21px !important;
}
.text-22 {
  font-size: 22px !important;
}
.text-23 {
  font-size: 23px !important;
}
.text-24 {
  font-size: 24px !important;
}
.text-25 {
  font-size: 25px !important;
}
.text-27 {
  font-size: 27px !important;
}
.text-28 {
  font-size: 28px !important;
}
.text-30 {
  font-size: 30px !important;
}
.text-35 {
  font-size: 35px !important;
}
.text-40 {
  font-size: 40px !important;
}
.text-50 {
  font-size: 50px !important;
}
.non-uppercase {
  text-transform: none !important;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* TEXT-ITALIC
--------------------------------------------------*/
.text-italic {
  font-style: italic !important;
}
/* FONT-WEIGHT
--------------------------------------------------*/
.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
/* DISPLAY
-------------------------------------------------- */
.display-none {
  display: none;
}
.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
/* BACKGROUND
-------------------------------------------------- */
.background-none {
  background: none !important;
}
.background-white {
  background: #fff !important;
}
/* Margin
-------------------------------------------------- */
.margin0 {
  margin: 0px !important;
}
.margin10 {
  margin: 10px !important;
}
.margin15 {
  margin: 15px !important;
}
.margin20 {
  margin: 20px !important;
}
.margin25 {
  margin: 25px !important;
}
.margin0-15 {
  margin: 0 15px;
}
.margin15-0 {
  margin: 15px 0;
}
.margintop-27 {
  margin-top: -27px !important;
}
.margintop-25 {
  margin-top: -25px !important;
}
.margintop-20 {
  margin-top: -20px !important;
}
.margintop-48 {
  margin-top: -48px;
}
.margintop-15 {
  margin-top: -15px !important;
}
.margintop-10 {
  margin-top: -10px !important;
}
.margintop-8 {
  margin-top: -8px !important;
}
.margintop-5 {
  margin-top: -5px !important;
}
.margintop-6 {
  margin-top: -6px !important;
}
.margintop0 {
  margin-top: 0px !important;
}
.margintop5 {
  margin-top: 5px !important;
}
.margintop10 {
  margin-top: 10px !important;
}
.margintop15 {
  margin-top: 15px !important;
}
.margintop20 {
  margin-top: 20px !important;
}
.margintop25 {
  margin-top: 25px !important;
}
.margintop30 {
  margin-top: 30px !important;
}
.margintop35 {
  margin-top: 35px !important;
}
.margintop40 {
  margin-top: 40px !important;
}
.margintop58 {
  margin-top: 58px !important;
}
.margintop60 {
  margin-top: 60px !important;
}
@media (max-width: 767px) {
  .margintop10-xs {
    margin-top: 10px !important;
  }
}
.marginbottom-20 {
  margin-bottom: -20px !important;
}
.marginbottom-15 {
  margin-bottom: -15px !important;
}
.marginbottom-10 {
  margin-bottom: -10px !important;
}
.marginbottom-5 {
  margin-bottom: -5px !important;
}
.marginbottom0 {
  margin-bottom: 0px !important;
}
.marginbottom5 {
  margin-bottom: 5px !important;
}
.marginbottom10 {
  margin-bottom: 10px !important;
}
.marginbottom15 {
  margin-bottom: 15px !important;
}
.marginbottom20 {
  margin-bottom: 20px !important;
}
.marginbottom25 {
  margin-bottom: 25px !important;
}
.marginbottom30 {
  margin-bottom: 30px !important;
}
.marginbottom40 {
  margin-bottom: 40px !important;
}
.marginleft0 {
  margin-left: 0px !important;
}
.marginleft8 {
  margin-left: 8px;
}
.marginleft-5 {
  margin-left: -5px !important;
}
.marginleft-10 {
  margin-left: -10px !important;
}
.marginleft-25 {
  margin-left: -25px !important;
}
.marginleft-100 {
  margin-left: -100px !important;
}
.marginleft5 {
  margin-left: 5px !important;
}
.marginleft10 {
  margin-left: 10px !important;
}
.marginleft15 {
  margin-left: 15px !important;
}
.marginleft20 {
  margin-left: 20px !important;
}
.marginleft25 {
  margin-left: 25px !important;
}
.marginleft40 {
  margin-left: 40px !important;
}
.marginleft60 {
  margin-left: 40px !important;
}
.marginright0 {
  margin-right: 0px !important;
}
.marginright5 {
  margin-right: 5px !important;
}
.marginright10 {
  margin-right: 10px !important;
}
.marginright5 {
  margin-right: 5px !important;
}
.marginright15 {
  margin-right: 15px !important;
}
.marginright20 {
  margin-right: 20px !important;
}
.marginright25 {
  margin-right: 25px !important;
}
.marginwidth-20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
/* Padding
-------------------------------------------------- */
.padding10-30 {
  padding: 10px 30px;
}
.padding0 {
  padding: 0px !important;
}
.padding40 {
  padding: 40px !important;
}
.padding1 {
  padding: 1px !important;
}
.padding5 {
  padding: 5px !important;
}
.padding10 {
  padding: 10px !important;
}
.padding11 {
  padding: 11px !important;
}
.padding15 {
  padding: 15px !important;
}
.padding20 {
  padding: 20px !important;
}
.padding25 {
  padding: 25px !important;
}
.padding30 {
  padding: 30px !important;
}
.padding40 {
  padding: 40px !important;
}
@media (max-width: 768px) {
  .padding0-xs {
    padding: 0 !important;
  }
}
.paddingtop0 {
  padding-top: 0px !important;
}
.paddingbottom2 {
  padding-bottom: 2px !important;
}
.paddingtop2 {
  padding-top: 2px !important;
}
.paddingtop5 {
  padding-top: 5px !important;
}
.paddingtop7 {
  padding-top: 7px !important;
}
.paddingtop10 {
  padding-top: 10px !important;
}
.paddingtop11 {
  padding-top: 11px !important;
}
.paddingtop15 {
  padding-top: 15px !important;
}
.paddingtop20 {
  padding-top: 20px !important;
}
.paddingtop25 {
  padding-top: 25px !important;
}
.paddingtop30 {
  padding-top: 30px !important;
}
.paddingtop40 {
  padding-top: 40px !important;
}
.paddingtop50 {
  padding-top: 50px !important;
}
.paddingtop70 {
  padding-top: 70px !important;
}
.paddingbottom0 {
  padding-bottom: 0px !important;
}
.paddingbottom5 {
  padding-bottom: 5px !important;
}
.paddingbottom10 {
  padding-bottom: 10px !important;
}
.paddingbottom15 {
  padding-bottom: 15px !important;
}
.paddingbottom20 {
  padding-bottom: 20px !important;
}
.paddingbottom25 {
  padding-bottom: 25px !important;
}
.paddingbottom30 {
  padding-bottom: 30px !important;
}
.paddingbottom40 {
  padding-bottom: 40px !important;
}
.paddingbottom45 {
  padding-bottom: 45px !important;
}
.paddingbottom60 {
  padding-bottom: 60px !important;
}
.paddingbottom200 {
  padding-bottom: 200px !important;
}
.paddingleft0 {
  padding-left: 0px !important;
}
.paddingleft4 {
  padding-left: 4px !important;
}
.paddingleft5 {
  padding-left: 5px !important;
}
.paddingleft10 {
  padding-left: 10px !important;
}
.paddingleft14 {
  padding-left: 14px !important;
}
.paddingleft15 {
  padding-left: 15px !important;
}
.paddingleft20 {
  padding-left: 20px !important;
}
.paddingleft25 {
  padding-left: 25px !important;
}
.paddingleft30 {
  padding-left: 30px !important;
}
.paddingleft40 {
  padding-left: 40px !important;
}
.paddingright0 {
  padding-right: 0px !important;
}
.paddingright5 {
  padding-right: 5px !important;
}
.paddingright10 {
  padding-right: 10px !important;
}
.paddingright14 {
  padding-right: 14px !important;
}
.paddingright15 {
  padding-right: 15px !important;
}
.paddingright17 {
  padding-right: 17px !important;
}
.paddingright20 {
  padding-right: 20px !important;
}
.paddingright25 {
  padding-right: 25px !important;
}
.paddingright30 {
  padding-right: 30px !important;
}
.paddingwidth10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
/* Pointer
-------------------------------------------------- */
.pointer-disable {
  pointer-events: none;
  cursor: default;
}
.pointer {
  pointer-events: auto;
  cursor: pointer;
}
.help {
  cursor: help;
}
.bg-purple {
  background-color: #9b59b6;
}
.bg-white {
  background-color: white;
}
.bg-green {
  background-color: #2dcb73;
}
.bg-green2 {
  background-color: #34a802;
}
.bg-orange {
  background-color: #e88209 !important;
}
.bg-blue {
  background-color: #0082d0;
}
.bg-blue2 {
  background-color: #0096DB !important;
}
.bg-blue3 {
  background-color: #0D5295 !important;
}
.bg-yellow {
  background-color: #e8d00a;
}
.bg-red {
  background-color: red;
}
.bg-gray {
  background-color: #B9B5B6;
}
.bg-gray2 {
  background-color: #78787a;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
/* Width Height
-------------------------------------------------- */
.w15 {
  width: 15px;
}
.w24 {
  width: 24px;
}
.w36 {
  width: 36px;
}
.w50 {
  width: 50px;
}
.w100 {
  width: 100px;
}
.height20 {
  height: 20px !important;
}
.height50 {
  height: 50px !important;
}
.height100 {
  height: 100px !important;
}
.relative {
  position: relative;
}
.left25 {
  left: 25% !important;
}
/* table
-------------------------------------------------- */
table tr td.valign-middle {
  vertical-align: middle;
}
/* Border
-------------------------------------------------- */
.border-none {
  border: none !important;
}
.border-bottom-ddd {
  border-bottom: 1px solid #ddd !important;
}
.border1 {
  border: 1px solid #EB8209 !important;
}
.border-gray {
  border: 1px solid #ddd !important;
}
.border-top-white {
  border-top-color: white !important;
}
.border-right-gray {
  border-right: 1px solid #ddd !important;
}
.border-bottom-gray {
  border-bottom: 1px solid #ddd !important;
}
.border-top-gray {
  border-top: 1px solid #ddd !important;
}
@media (max-width: 768px) {
  .alignt-center-mobile {
    text-align: center !important;
  }
}
.right-align {
  text-align: right !important;
}
.left-align {
  text-align: left !important;
}
.center-align {
  text-align: center !important;
}
.justify-align {
  text-align: justify !important;
}
.vertical0 {
  vertical-align: 0;
}
.vertical-1 {
  vertical-align: -1px;
}
.vertical-2 {
  vertical-align: -2px;
}
.vertical1 {
  vertical-align: 1px;
}
.vertical2 {
  vertical-align: 2px;
}
/*-----------radius--------------*/
.radius0 {
  border-radius: 0 !important;
}
.radius2 {
  border-radius: 2px !important;
}
.radius3 {
  border-radius: 3px !important;
}
.radius4 {
  border-radius: 4px !important;
}
.radius20 {
  border-radius: 20px !important;
}
/*---------shadow-----------*/
.no-shadow {
  box-shadow: none !important;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.text-file {
  background-color: white !important;
  cursor: text !important;
}
.width-100 {
  width: 100% !important;
}
.width-50 {
  width: 50% !important;
}
.width-32 {
  width: 32% !important;
}
.w300 {
  min-width: 300px;
}
.pointer {
  cursor: pointer;
}
.h-100 {
  height: 100%;
}
.box-shadow {
  box-shadow: 0px 2px 4px 1px #eaeaea;
}
.action-content {
  padding-top: 20px;
}
.action-content thead {
  background: #0082d0;
  color: white;
}
.action-content thead .filters {
  background: #e8e8e8;
  display: none;
}
.action-content thead a {
  color: white !important;
}
.action-content .export-group .btn-group {
  float: right;
}
.action-content .export-group .btn-group button {
  border-radius: 0px;
  margin: 0px;
  height: 34px;
}
.action-content #user-gender label {
  margin-right: 15px;
  font-weight: 400 !important;
}
.kv-expand-icon,
.kv-expand-header-icon {
  font-size: 13px;
}
.tt-dropdown-menu {
  box-shadow: 1px 0px 4px 1px #ddd;
  border: 1px solid rgba(221, 221, 221, 0.1);
}
.combodate select {
  padding: 5px 10px;
  border-radius: 3px;
}
#loading {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -45px;
  /* width: 100px; */
  margin-top: -45px;
  z-index: 1000;
  display: none;
}
#loading img {
  width: 70px;
}
.form-search {
  position: relative;
}
.form-search input {
  min-width: 300px;
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0px 45px 0px 7px;
}
.form-search button {
  position: absolute;
  background: #f3f1f1;
  border: none;
  margin-left: -39px;
  border-radius: 0px 3px 0px 0px;
  top: 1px;
  font-size: 22px;
  padding: 0.5px 9px;
  color: #cccbcb;
}
.dropdown {
  position: relative;
}
.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}
.dropdown ul {
  margin: -1px 0 0 0;
}
.dropdown dd {
  position: relative;
}
.dropdown a,
.dropdown a:visited {
  text-decoration: none;
  outline: none;
  font-size: 12px;
}
.dropdown dt a {
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 272px;
}
.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}
.dropdown dd ul {
  border: 0;
  display: none;
  top: 2px;
  width: 280px;
  list-style: none;
  height: 140px;
  overflow: auto;
}
.dropdown span.value {
  display: none;
}
.dropdown dd ul li a {
  padding: 5px;
  display: block;
}
.dropdown dd ul li a:hover {
  background-color: #fff;
}
#print p {
  font-family: "Times New Roman", Georgia, Serif;
}
