/* Styles dung chung tro giup qua trinh lam giao dien
-------------------------------------------------- */
/* RESET
-------------------------------------------------- */
* {
  outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
html,
body {
  height: 100%;
}
/* Border
-------------------------------------------------- */
.border-primary {
  border-color: #78acd9;
}
.border-success {
  border-color: #a3d7a3;
}
.border-info {
  border-color: #b0e1ef;
}
.border-danger {
  border-color: #eba5a3;
}
.border-warning {
  border-color: #f8d9ac;
}
.border-none {
  border: none;
}
.border-white {
  border-color: #fff;
}
/* TEXT
-------------------------------------------------- */
.text-large {
  font-size: 18px;
}
.text-small {
  font-size: 12px;
}
.text-color,
.text-color:hover {
  color: #333333;
}
.text-gray {
  color: #555555;
}
.text-gray-light {
  color: #777777;
}
.text-gray-lighter {
  color: #eeeeee;
}
/* FORM
-------------------------------------------------- */
select.input-xs {
  height: 22px;
  line-height: 22px;
}
.form-group .error .help-block,
.form-group .error .control-label,
.form-group .error .radio,
.form-group .error .checkbox,
.form-group .error .radio-inline,
.form-group .error .checkbox-inline,
.form-group .error.radio label,
.form-group .error.checkbox label,
.form-group .error.radio-inline label,
.form-group .error.checkbox-inline label {
  color: #a94442;
}
.form-group .error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-group .error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.form-group .error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.form-group .error .form-control-feedback {
  color: #a94442;
}
.form-group .success .help-block,
.form-group .success .control-label,
.form-group .success .radio,
.form-group .success .checkbox,
.form-group .success .radio-inline,
.form-group .success .checkbox-inline,
.form-group .success.radio label,
.form-group .success.checkbox label,
.form-group .success.radio-inline label,
.form-group .success.checkbox-inline label {
  color: #3c763d;
}
.form-group .success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-group .success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.form-group .success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.form-group .success .form-control-feedback {
  color: #3c763d;
}
.form-group .warning .help-block,
.form-group .warning .control-label,
.form-group .warning .radio,
.form-group .warning .checkbox,
.form-group .warning .radio-inline,
.form-group .warning .checkbox-inline,
.form-group .warning.radio label,
.form-group .warning.checkbox label,
.form-group .warning.radio-inline label,
.form-group .warning.checkbox-inline label {
  color: #8a6d3b;
}
.form-group .warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-group .warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.form-group .warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.form-group .warning .form-control-feedback {
  color: #8a6d3b;
}
.label.text-medium {
  font-size: 85%;
}
/* NAV
-------------------------------------------------- */
.nav.nav-pills.nav-danger .active a,
.nav.nav-pills.nav-danger .active a:hover,
.nav.nav-pills.nav-danger .active a:focus {
  background-color: #d9534f;
}
.nav.nav-pills.nav-success .active a,
.nav.nav-pills.nav-success .active a:hover,
.nav.nav-pills.nav-success .active a:focus {
  background-color: #5cb85c;
}
/* IMAGE
-------------------------------------------------- */
/* GRID : http://www.helloerik.com/bootstrap-3-grid-introduction
-------------------------------------------------- */
.gutter,
.gutter .row {
  padding-left: 5px;
  padding-right: 5px;
}
.gutter > *,
.gutter .row > * {
  padding-left: 5px;
  padding-right: 5px;
}
.row.nested {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.col.nested-col {
  margin-left: 0px;
  padding-left: 0px;
}
.col.nested-col label {
  left: 0;
}
/* COMPONENT
-------------------------------------------------- */
.popover {
  min-width: 200px;
}
/* Responsive
-------------------------------------------------- */
@media (max-width: 600px) {
  .center-only-small-align {
    text-align: center;
  }
}
/* OVERRIDE BOOTSTRAP
-------------------------------------------------- */
.btn-group.btn-group-right {
  float: left;
}
.btn-group.btn-group-right .dropdown-menu {
  right: 0;
  left: inherit;
}
.btn.btn-link {
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.center {
  width: 50%;
  height: 50%;
}
.display-none {
  display: none;
}
.line-hieght1 {
  line-height: 1;
}
.line-hieght1-5 {
  line-height: 2;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.display-flex {
  display: flex;
}
.text-error,
.text-red {
  color: red !important;
}
.lineheight25 {
  line-height: 25px;
}
.no-hover {
  text-decoration: none !important;
}
.text-del {
  text-decoration: line-through !important;
}
.text-normal {
  font-weight: normal !important;
}
.font-300 {
  font-weight: 300 !important;
}
.font-400 {
  font-weight: 400 !important;
}
.font-500 {
  font-weight: 500 !important;
}
.font-700 {
  font-weight: 700 !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-white {
  color: #fff !important;
}
.text-yellow {
  color: #FFF200;
}
.text-black {
  color: #333 !important;
}
.text-underline {
  text-decoration: underline;
}
.white-background,
.bg-white {
  background-color: #FFFFFF !important;
}
.color-teal {
  color: #00a65a;
}
.text-highlight {
  color: #EA8620;
}
.text-upper {
  text-transform: uppercase;
}
.text-upper-first {
  text-transform: capitalize;
}
.text-lower {
  text-transform: lowercase;
}
.text-transform-none {
  text-transform: none !important;
}
.text-silver {
  color: silver !important;
}
.text-black {
  color: #000 !important;
}
.text-333 {
  color: #333 !important;
}
.text-444 {
  color: #444 !important;
}
.text-555 {
  color: #555 !important;
}
.text-666 {
  color: #666 !important;
}
.text-666666 {
  color: #666666 !important;
}
.text-999 {
  color: #999 !important;
}
.text-orange {
  color: #e88209;
}
.text-purple {
  color: #9b59b6;
}
.text-green {
  color: #2dcb73;
}
.text-blue {
  color: #0082d0 !important;
}
.text-blue2 {
  color: #005195;
}
.text-7 {
  font-size: 7px !important;
}
.text-8 {
  font-size: 8px !important;
}
.text-9 {
  font-size: 9px !important;
}
.text-10 {
  font-size: 10px !important;
}
.text-11 {
  font-size: 11px !important;
}
.text-12 {
  font-size: 12px !important;
}
.text-13 {
  font-size: 13px !important;
}
.text-14 {
  font-size: 14px !important;
}
.text-15 {
  font-size: 15px !important;
}
.text-16 {
  font-size: 16px !important;
}
.text-17 {
  font-size: 17px !important;
}
.text-18 {
  font-size: 18px !important;
}
.text-19 {
  font-size: 19px !important;
}
.text-20 {
  font-size: 20px !important;
}
.text-21 {
  font-size: 21px !important;
}
.text-22 {
  font-size: 22px !important;
}
.text-23 {
  font-size: 23px !important;
}
.text-24 {
  font-size: 24px !important;
}
.text-25 {
  font-size: 25px !important;
}
.text-27 {
  font-size: 27px !important;
}
.text-28 {
  font-size: 28px !important;
}
.text-30 {
  font-size: 30px !important;
}
.text-35 {
  font-size: 35px !important;
}
.text-40 {
  font-size: 40px !important;
}
.text-50 {
  font-size: 50px !important;
}
.non-uppercase {
  text-transform: none !important;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* TEXT-ITALIC
--------------------------------------------------*/
.text-italic {
  font-style: italic !important;
}
/* FONT-WEIGHT
--------------------------------------------------*/
.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
/* DISPLAY
-------------------------------------------------- */
.display-none {
  display: none;
}
.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
/* BACKGROUND
-------------------------------------------------- */
.background-none {
  background: none !important;
}
.background-white {
  background: #fff !important;
}
/* Margin
-------------------------------------------------- */
.margin0 {
  margin: 0px !important;
}
.margin10 {
  margin: 10px !important;
}
.margin15 {
  margin: 15px !important;
}
.margin20 {
  margin: 20px !important;
}
.margin25 {
  margin: 25px !important;
}
.margin0-15 {
  margin: 0 15px;
}
.margin15-0 {
  margin: 15px 0;
}
.margintop-27 {
  margin-top: -27px !important;
}
.margintop-25 {
  margin-top: -25px !important;
}
.margintop-20 {
  margin-top: -20px !important;
}
.margintop-48 {
  margin-top: -48px;
}
.margintop-15 {
  margin-top: -15px !important;
}
.margintop-10 {
  margin-top: -10px !important;
}
.margintop-8 {
  margin-top: -8px !important;
}
.margintop-5 {
  margin-top: -5px !important;
}
.margintop-6 {
  margin-top: -6px !important;
}
.margintop0 {
  margin-top: 0px !important;
}
.margintop5 {
  margin-top: 5px !important;
}
.margintop10 {
  margin-top: 10px !important;
}
.margintop15 {
  margin-top: 15px !important;
}
.margintop20 {
  margin-top: 20px !important;
}
.margintop25 {
  margin-top: 25px !important;
}
.margintop30 {
  margin-top: 30px !important;
}
.margintop35 {
  margin-top: 35px !important;
}
.margintop40 {
  margin-top: 40px !important;
}
.margintop58 {
  margin-top: 58px !important;
}
.margintop60 {
  margin-top: 60px !important;
}
@media (max-width: 767px) {
  .margintop10-xs {
    margin-top: 10px !important;
  }
}
.marginbottom-20 {
  margin-bottom: -20px !important;
}
.marginbottom-15 {
  margin-bottom: -15px !important;
}
.marginbottom-10 {
  margin-bottom: -10px !important;
}
.marginbottom-5 {
  margin-bottom: -5px !important;
}
.marginbottom0 {
  margin-bottom: 0px !important;
}
.marginbottom5 {
  margin-bottom: 5px !important;
}
.marginbottom10 {
  margin-bottom: 10px !important;
}
.marginbottom15 {
  margin-bottom: 15px !important;
}
.marginbottom20 {
  margin-bottom: 20px !important;
}
.marginbottom25 {
  margin-bottom: 25px !important;
}
.marginbottom30 {
  margin-bottom: 30px !important;
}
.marginbottom40 {
  margin-bottom: 40px !important;
}
.marginleft0 {
  margin-left: 0px !important;
}
.marginleft8 {
  margin-left: 8px;
}
.marginleft-5 {
  margin-left: -5px !important;
}
.marginleft-10 {
  margin-left: -10px !important;
}
.marginleft-25 {
  margin-left: -25px !important;
}
.marginleft-100 {
  margin-left: -100px !important;
}
.marginleft5 {
  margin-left: 5px !important;
}
.marginleft10 {
  margin-left: 10px !important;
}
.marginleft15 {
  margin-left: 15px !important;
}
.marginleft20 {
  margin-left: 20px !important;
}
.marginleft25 {
  margin-left: 25px !important;
}
.marginleft40 {
  margin-left: 40px !important;
}
.marginleft60 {
  margin-left: 40px !important;
}
.marginright0 {
  margin-right: 0px !important;
}
.marginright5 {
  margin-right: 5px !important;
}
.marginright10 {
  margin-right: 10px !important;
}
.marginright5 {
  margin-right: 5px !important;
}
.marginright15 {
  margin-right: 15px !important;
}
.marginright20 {
  margin-right: 20px !important;
}
.marginright25 {
  margin-right: 25px !important;
}
.marginwidth-20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
/* Padding
-------------------------------------------------- */
.padding10-30 {
  padding: 10px 30px;
}
.padding0 {
  padding: 0px !important;
}
.padding40 {
  padding: 40px !important;
}
.padding1 {
  padding: 1px !important;
}
.padding5 {
  padding: 5px !important;
}
.padding10 {
  padding: 10px !important;
}
.padding11 {
  padding: 11px !important;
}
.padding15 {
  padding: 15px !important;
}
.padding20 {
  padding: 20px !important;
}
.padding25 {
  padding: 25px !important;
}
.padding30 {
  padding: 30px !important;
}
.padding40 {
  padding: 40px !important;
}
@media (max-width: 768px) {
  .padding0-xs {
    padding: 0 !important;
  }
}
.paddingtop0 {
  padding-top: 0px !important;
}
.paddingbottom2 {
  padding-bottom: 2px !important;
}
.paddingtop2 {
  padding-top: 2px !important;
}
.paddingtop5 {
  padding-top: 5px !important;
}
.paddingtop7 {
  padding-top: 7px !important;
}
.paddingtop10 {
  padding-top: 10px !important;
}
.paddingtop11 {
  padding-top: 11px !important;
}
.paddingtop15 {
  padding-top: 15px !important;
}
.paddingtop20 {
  padding-top: 20px !important;
}
.paddingtop25 {
  padding-top: 25px !important;
}
.paddingtop30 {
  padding-top: 30px !important;
}
.paddingtop40 {
  padding-top: 40px !important;
}
.paddingtop50 {
  padding-top: 50px !important;
}
.paddingtop70 {
  padding-top: 70px !important;
}
.paddingbottom0 {
  padding-bottom: 0px !important;
}
.paddingbottom5 {
  padding-bottom: 5px !important;
}
.paddingbottom10 {
  padding-bottom: 10px !important;
}
.paddingbottom15 {
  padding-bottom: 15px !important;
}
.paddingbottom20 {
  padding-bottom: 20px !important;
}
.paddingbottom25 {
  padding-bottom: 25px !important;
}
.paddingbottom30 {
  padding-bottom: 30px !important;
}
.paddingbottom40 {
  padding-bottom: 40px !important;
}
.paddingbottom45 {
  padding-bottom: 45px !important;
}
.paddingbottom60 {
  padding-bottom: 60px !important;
}
.paddingbottom200 {
  padding-bottom: 200px !important;
}
.paddingleft0 {
  padding-left: 0px !important;
}
.paddingleft4 {
  padding-left: 4px !important;
}
.paddingleft5 {
  padding-left: 5px !important;
}
.paddingleft10 {
  padding-left: 10px !important;
}
.paddingleft14 {
  padding-left: 14px !important;
}
.paddingleft15 {
  padding-left: 15px !important;
}
.paddingleft20 {
  padding-left: 20px !important;
}
.paddingleft25 {
  padding-left: 25px !important;
}
.paddingleft30 {
  padding-left: 30px !important;
}
.paddingleft40 {
  padding-left: 40px !important;
}
.paddingright0 {
  padding-right: 0px !important;
}
.paddingright5 {
  padding-right: 5px !important;
}
.paddingright10 {
  padding-right: 10px !important;
}
.paddingright14 {
  padding-right: 14px !important;
}
.paddingright15 {
  padding-right: 15px !important;
}
.paddingright17 {
  padding-right: 17px !important;
}
.paddingright20 {
  padding-right: 20px !important;
}
.paddingright25 {
  padding-right: 25px !important;
}
.paddingright30 {
  padding-right: 30px !important;
}
.paddingwidth10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
/* Pointer
-------------------------------------------------- */
.pointer-disable {
  pointer-events: none;
  cursor: default;
}
.pointer {
  pointer-events: auto;
  cursor: pointer;
}
.help {
  cursor: help;
}
.bg-purple {
  background-color: #9b59b6;
}
.bg-white {
  background-color: white;
}
.bg-green {
  background-color: #2dcb73;
}
.bg-green2 {
  background-color: #34a802;
}
.bg-orange {
  background-color: #e88209 !important;
}
.bg-blue {
  background-color: #0082d0;
}
.bg-blue2 {
  background-color: #0096DB !important;
}
.bg-blue3 {
  background-color: #0D5295 !important;
}
.bg-yellow {
  background-color: #e8d00a;
}
.bg-red {
  background-color: red;
}
.bg-gray {
  background-color: #B9B5B6;
}
.bg-gray2 {
  background-color: #78787a;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
/* Width Height
-------------------------------------------------- */
.w15 {
  width: 15px;
}
.w24 {
  width: 24px;
}
.w36 {
  width: 36px;
}
.w50 {
  width: 50px;
}
.w100 {
  width: 100px;
}
.height20 {
  height: 20px !important;
}
.height50 {
  height: 50px !important;
}
.height100 {
  height: 100px !important;
}
.relative {
  position: relative;
}
.left25 {
  left: 25% !important;
}
/* table
-------------------------------------------------- */
table tr td.valign-middle {
  vertical-align: middle;
}
/* Border
-------------------------------------------------- */
.border-none {
  border: none !important;
}
.border-bottom-ddd {
  border-bottom: 1px solid #ddd !important;
}
.border1 {
  border: 1px solid #EB8209 !important;
}
.border-gray {
  border: 1px solid #ddd !important;
}
.border-top-white {
  border-top-color: white !important;
}
.border-right-gray {
  border-right: 1px solid #ddd !important;
}
.border-bottom-gray {
  border-bottom: 1px solid #ddd !important;
}
.border-top-gray {
  border-top: 1px solid #ddd !important;
}
@media (max-width: 768px) {
  .alignt-center-mobile {
    text-align: center !important;
  }
}
.right-align {
  text-align: right !important;
}
.left-align {
  text-align: left !important;
}
.center-align {
  text-align: center !important;
}
.justify-align {
  text-align: justify !important;
}
.vertical0 {
  vertical-align: 0;
}
.vertical-1 {
  vertical-align: -1px;
}
.vertical-2 {
  vertical-align: -2px;
}
.vertical1 {
  vertical-align: 1px;
}
.vertical2 {
  vertical-align: 2px;
}
/*-----------radius--------------*/
.radius0 {
  border-radius: 0 !important;
}
.radius2 {
  border-radius: 2px !important;
}
.radius3 {
  border-radius: 3px !important;
}
.radius4 {
  border-radius: 4px !important;
}
.radius20 {
  border-radius: 20px !important;
}
/*---------shadow-----------*/
.no-shadow {
  box-shadow: none !important;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.text-file {
  background-color: white !important;
  cursor: text !important;
}
.width-100 {
  width: 100% !important;
}
.width-50 {
  width: 50% !important;
}
.width-32 {
  width: 32% !important;
}
.w300 {
  min-width: 300px;
}
.pointer {
  cursor: pointer;
}
.h-100 {
  height: 100%;
}
.box-shadow {
  box-shadow: 0px 2px 4px 1px #eaeaea;
}
.modal-backdrop.in {
  opacity: 0.8;
}
.content-wrapper {
  min-height: 600px;
  padding-top: 62px;
}
#loading {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -45px;
  /* width: 100px; */
  margin-top: -45px;
  z-index: 1000;
  display: none;
}
#loading img {
  width: 45px;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/files/image/loading1.gif) 50% 50% no-repeat #827c7c;
  transition: opacity 0.15s linear;
  opacity: 0.51;
  background-size: 40px 40px;
}
.button_scroll2top {
  display: none;
  width: 47px;
  height: 68px;
  padding-top: 9px;
  padding-left: 10px;
  position: fixed;
  z-index: 999;
  right: 0px;
  bottom: 42px;
  background: #E98209;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  font-size: 2.0em;
}
.tooltip-inner {
  max-width: 300px;
  width: 150px;
  padding: 10px 0px 10px 0px;
  opacity: 0.8;
  color: #ffffff;
}
.tooltip-arrow {
  opacity: 0.8;
  color: #ffffff;
}
.comment_client {
  width: 58px;
  height: 126px;
  padding-top: 9px;
  position: fixed;
  z-index: 999;
  bottom: 42px;
  cursor: pointer;
  margin-bottom: 70px !important;
  top: 50%;
  margin-top: -90px;
}
.icon-message {
  height: 63px;
  width: 70px;
  background-position: 14px -251px;
  position: relative;
  float: left;
}
.icon-pencil {
  height: 63px;
  width: 70px;
  background-position: -40px -247px;
  position: relative;
  float: left;
  margin-top: 5px;
}
.button_scroll2top:hover {
  opacity: 1.0;
}
body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}
.flex-container {
  display: -webkit-flex;
  /* Safari */
  display: flex;
}
.flex-container .flex-item {
  -webkit-order: 1;
  /* Safari */
  order: 1;
}
.flex-new {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.flex-new .flex-item {
  -webkit-order: 1;
  /* Safari */
  order: 1;
}
#modal-accept-info .close {
  font-size: 40px;
  color: white;
  opacity: 1;
  margin-right: 10px;
  margin-top: 1px;
}
.media-block {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  display: flex;
}
.media-block .media-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.slide-main {
  background: url("/files/image/bg/bg_slide.png");
  background-size: cover;
}
.slide-main #myCarousel img {
  width: 100%;
}
.slide-main #myCarousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.slide-main #myCarousel .carousel-control {
  padding-top: 21%;
}
.slide-main #myCarousel .carousel-control span {
  font-size: 50px;
}
.slide-main .time-left {
  height: 100%;
}
.slide-main .time-left .box-header {
  padding: 20px;
  color: white;
}
.slide-main .time-left .box-countdown {
  background: white;
  padding: 25px 0px;
}
.slide-main .time-left .box-countdown #countdown-container {
  width: 272px;
  margin: 0 auto;
}
.slide-main .time-left .box-countdown #countdown-container ul .inn {
  color: white;
  font-size: 30px;
}
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(2) .inn,
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(3) .inn {
  background: #2dcb73;
}
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(5) .inn,
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(6) .inn {
  background: #3498db;
}
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(8) .inn,
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(9) .inn {
  background: #9b59b6;
}
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(11) .inn,
.slide-main .time-left .box-countdown #countdown-container ul:nth-child(12) .inn {
  background: #f39c12;
}
.slide-main .time-left .box-countdown #countdown-container .flip-clock-label {
  bottom: -6px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  padding: 3px 10px;
}
.slide-main .time-left .box-countdown #countdown-container .days .flip-clock-label {
  background: #2dcb73;
  border-radius: 14px;
  left: 4px;
}
.slide-main .time-left .box-countdown #countdown-container .hours .flip-clock-label {
  background: #3498db;
  border-radius: 14px;
  left: 13px;
}
.slide-main .time-left .box-countdown #countdown-container .minutes .flip-clock-label {
  background: #9b59b6;
  border-radius: 14px;
  left: 10px;
  right: auto;
}
.slide-main .time-left .box-countdown #countdown-container .seconds .flip-clock-label {
  background: #f39c12;
  border-radius: 14px;
  left: 10px;
  right: auto;
}
.slide-main .time-left .test-now {
  background: white;
  text-decoration: none;
  color: #e88209;
  padding: 13px 20px;
  border-radius: 27px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 250px;
  margin: 0 auto;
  font-size: 23px;
}
.nav-tabs-custom {
  padding: 0 15px;
  margin-top: 15px;
}
.nav-tabs-custom li {
  width: 49%;
  margin-right: 1%;
  text-align: center;
}
.nav-tabs-custom li:hover,
.nav-tabs-custom li.active {
  margin-bottom: 0;
}
.nav-tabs-custom li:hover a,
.nav-tabs-custom li.active a {
  background-color: #e88209 !important;
  color: white !important;
  border: none !important;
}
.nav-tabs-custom li a {
  margin-bottom: 15px;
  border: 0;
  color: #e88209;
  border-radius: 20px;
  font-size: 17px;
  text-transform: uppercase;
  padding: 5px 0px;
}
.navbar-news {
  border-radius: 0px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  background: #0082d0;
}
.navbar-news ul {
  padding: 10px;
}
.navbar-news ul li {
  margin-right: 30px;
  text-transform: uppercase;
}
.navbar-news ul li a {
  padding: 5px 15px;
  color: #fff;
}
.navbar-news ul li a:hover,
.navbar-news ul li a:focus {
  background-color: transparent;
  padding-bottom: 4px;
  border-bottom: solid 3px #ffffff;
}
.navbar-news .active {
  border-bottom: solid 3px #ffffff;
  padding-bottom: 4px;
}
.bg-slide-index {
  background: rgba(0, 0, 0, 0.4);
}
.menu-extra .navbar {
  background: transparent;
  border-color: transparent;
  border: none;
  margin: 0;
}
.menu-extra .navbar ul li {
  /* &:last-child{
                    a{
                        &:after{
                            width: 0px;
                        }
                    }
                }*/
}
.menu-extra .navbar ul li a {
  color: white;
  position: relative;
  padding: 15px 15px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  /*&:after{
                        content: "";
                        width: 1px;
                        height: 20px;
                        background-color: #55a9dc;
                        position: absolute;
                        right: -13px;
                    }*/
}
.menu-extra .navbar ul li.active a,
.menu-extra .navbar ul li:hover a {
  background: transparent;
  border-bottom: 4px solid white;
  color: white;
}
.menu-extra .navbar ul li.active a:hover {
  background: transparent;
  color: white;
}
.item-game img {
  border-radius: 12px;
}
.item-game .desc {
  display: block;
  /* Fallback for non-webkit */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.friend-play-game .box-content .media-block .media-image img {
  width: 50px;
  border-radius: 50%;
}
.breadcrumb-custom {
  padding: 15px;
  border-radius: 0;
}
.breadcrumb-custom li:not(:first-child):before {
  content: ">";
}
.breadcrumb-custom li a {
  color: white;
  text-decoration: none;
}
.breadcrumb-custom li.active {
  color: white;
  font-weight: 700;
}
.tab-cm {
  border-bottom: none;
}
.tab-cm li a {
  border: none !important;
  text-transform: uppercase;
  border-radius: 0;
  padding: 15px 48px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.tab-cm li.active a {
  color: #0082d0;
}
.comments .tab-content {
  padding: 15px;
}
.comments .form-comment form {
  position: relative;
}
.comments .form-comment form:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #ccc;
  left: -7px;
  top: 20px;
}
.comments .form-comment form:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #fff;
  left: -5px;
  top: 20px;
}
.comments .form-comment form .input-comment {
  border-radius: 0;
  position: relative;
}
.comments .form-comment form button {
  border: none;
  color: white;
  background: #0082d0;
  padding: 7px 20px;
  text-transform: uppercase;
}
.rank .tab-content {
  position: relative;
}
.rank .tab-content:before {
  content: "Điểm";
  position: absolute;
  right: 25px;
  background: #0082d0;
  color: white;
  padding: 5px 5px 15px 5px;
  font-size: 12px;
  font-weight: bold;
}
.rank .tab-content:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 25px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 11px solid #fff;
  top: 26px;
}
.rank .list-rank {
  list-style: none;
  padding: 0;
}
.rank .list-rank li {
  position: relative;
}
.rank .list-rank li:before {
  position: absolute;
  bottom: -8px;
  left: 0;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
  box-shadow: 0px 0px 1px 1px #c5c2c2;
  font-weight: bold;
}
.rank .list-rank li:nth-child(2):before {
  content: "2";
  color: #e88209;
}
.rank .list-rank li:nth-child(3):before {
  content: "3";
  color: #0082d0;
}
.rank .list-rank li:nth-child(4):before {
  content: "4";
  color: red;
}
.rank .list-rank li:nth-child(5):before {
  content: "5";
  color: #2dcb73;
}
.app-more {
  position: absolute;
  bottom: -66px;
  color: white;
  background: #e98209;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.app-more a {
  color: white;
}
.control p {
  cursor: pointer;
}
.headroom--pinned {
  display: block;
}
.headroom--unpinned {
  display: none;
}
.headroom {
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}
.headroom.slideDown {
  transform: translateY(0);
}
.headroom.slideUp {
  transform: translateY(-100%);
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}
.clr {
  clear: both;
}
.user-friend-right {
  margin-top: 5px;
}
.user-friend-right .friend-cancel {
  border: 1px solid #c5c3c3;
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 2px;
}
.user-friend-right .friend-accept {
  background: #0082d0;
  color: white;
  border: none;
  border-radius: 2px;
  margin-right: 5px;
  font-size: 13px;
  padding: 4px 10px;
}
.user-accept {
  display: table;
}
.user-accept .accept-request {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.alert-success {
  color: #324c32;
  background-color: #c0e6b0;
  border-color: #d6e9c6;
}
.require-lock {
  min-height: 600px;
}
.tt-dropdown-menu {
  min-width: 300px;
  background: white;
  border-radius: 2px;
}
.tt-dropdown-menu .tt-dataset-0 {
  padding: 15px 15px 0px 15px;
  float: left;
  width: 100%;
}
.tt-dropdown-menu .tt-dataset-0 .tt-suggestion {
  float: left;
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 8px;
  display: inline-block;
}
.tt-dropdown-menu .tt-dataset-0 .tt-suggestion:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}
.tt-dropdown-menu .tt-dataset-0 .tt-suggestion .image {
  float: left;
  width: 23%;
}
.tt-dropdown-menu .tt-dataset-0 .tt-suggestion .image img {
  box-shadow: 0px 0px 6px 0px rgba(11, 5, 2, 0.08);
  border-radius: 10px;
}
.tt-dropdown-menu .tt-dataset-0 .tt-suggestion .content {
  float: left;
  margin-left: 5px;
  width: 75%;
}
.tt-dropdown-menu .tt-dataset-0 .tt-suggestion .content a {
  color: blue !important;
}
.tt-dropdown-menu .tt-dataset-0 .tt-suggestion .content a:hover {
  background: transparent;
}
.tt-dropdown-menu .tt-dataset-0 .btn-sm {
  display: block;
  float: left;
  width: 100%;
  color: blue;
  background: transparent;
  border: none;
  margin: 0px auto 10px auto;
  font-size: 14px;
}
.main-header {
  min-height: 82px;
}
.main-header nav {
  background: #0082d0;
}
.main-header .navbar-header {
  padding-left: 30px;
}
.main-header .navbar-primary a {
  color: white;
}
.main-header .navbar-top-frontend > li > a {
  padding: 20px 15px;
}
.main-header .navbar-top-frontend > li > a:hover {
  background: #18608c;
}
.main-header .navbar-top-frontend > li ul > li > a:hover {
  background: transparent;
}
.main-header .navbar-top-frontend > li.open > a {
  background: #18608c;
}
.main-footer .footer-top {
  width: 100%;
  background-color: #0c9df5;
  border: 3px solid #0c9df5;
}
.main-footer .footer-top .icon-up {
  width: 26px;
  height: 26px;
  z-index: 999;
  margin-top: -3px;
  position: absolute;
  right: 15px;
  opacity: 0.8;
}
.main-footer .footer-top .icon-up button {
  border: 1px solid #F7F7F7;
  background-color: #F7F7F7;
}
.main-footer .top {
  background: #25abfb;
}
.main-footer .top .navbar-footer .navbar-primary {
  width: 410px;
  margin: 0 auto;
  float: none;
}
.main-footer .top .navbar-footer .navbar-primary li a {
  color: white;
}
.main-footer .top .navbar-footer .navbar-primary li a:hover {
  background: transparent;
}
.main-footer .bottom {
  position: relative;
  background: url("/files/image/bg/baner-footer.png");
  background-size: cover;
  color: white;
  padding: 30px 0px;
}
.main-footer .bottom .address-footer {
  display: none;
}
.main-footer .bottom img {
  width: 150px;
}
.main-footer .bottom a {
  color: #ffffff;
  text-decoration: none;
}
.main-footer .bottom .footer-menu ul li {
  list-style-type: circle;
  display: inline-block;
  padding-left: 25px;
}
.main-footer .bottom .footer-menu ul li span {
  display: inline-block;
  margin-left: 10px;
}
.main-footer .copyright {
  width: 100%;
  padding-top: 20px;
  float: left;
  background-size: cover;
  background-color: #025587;
  padding-bottom: 20px !important;
}
.br-theme-stars .br-widget {
  height: 40px;
  position: relative;
}
.br-theme-stars .br-widget.small {
  height: 20px;
}
.br-theme-stars .br-widget.small a,
.br-theme-stars .br-widget.small i {
  font-size: 20px;
}
.br-theme-stars .br-widget a,
.br-theme-stars .br-widget i {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
  display: block;
  float: left;
}
.br-theme-stars .br-widget a:after,
.br-theme-stars .br-widget i:after {
  content: '\f005';
  color: #dddddd;
}
.br-theme-stars .br-widget a:nth-child(1).br-active:after,
.br-theme-stars .br-widget i:nth-child(1).br-active:after,
.br-theme-stars .br-widget a:nth-child(1).br-selected:after,
.br-theme-stars .br-widget i:nth-child(1).br-selected:after {
  color: #EAA723;
}
.br-theme-stars .br-widget a:nth-child(2).br-active:after,
.br-theme-stars .br-widget i:nth-child(2).br-active:after,
.br-theme-stars .br-widget a:nth-child(2).br-selected:after,
.br-theme-stars .br-widget i:nth-child(2).br-selected:after {
  color: #EA8620;
}
.br-theme-stars .br-widget a:nth-child(3).br-active:after,
.br-theme-stars .br-widget i:nth-child(3).br-active:after,
.br-theme-stars .br-widget a:nth-child(3).br-selected:after,
.br-theme-stars .br-widget i:nth-child(3).br-selected:after {
  color: #EA6F1D;
}
.br-theme-stars .br-widget a:nth-child(4).br-active:after,
.br-theme-stars .br-widget i:nth-child(4).br-active:after,
.br-theme-stars .br-widget a:nth-child(4).br-selected:after,
.br-theme-stars .br-widget i:nth-child(4).br-selected:after {
  color: #EA5819;
}
.br-theme-stars .br-widget a:nth-child(5).br-active:after,
.br-theme-stars .br-widget i:nth-child(5).br-active:after,
.br-theme-stars .br-widget a:nth-child(5).br-selected:after,
.br-theme-stars .br-widget i:nth-child(5).br-selected:after {
  color: #EA4218;
}
.br-theme-stars .br-widget .br-current-rating {
  float: left;
  color: #777;
  font-size: 13px;
  position: absolute;
  right: 0;
  top: 3px;
}
#form-document #total-round {
  width: 60px;
  text-align: center;
  font-weight: bold;
  margin: 0px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 5px;
}
