

.action-content{
    padding-top:20px;
    thead{
        background: @background-main;
        color:white;
        .filters{
            background:#e8e8e8;
            display: none;
        }
        a{
            color:white !important;
        }
    }

    .grid-view{

    }

    .export-group{
        .btn-group{
            float:right;
            button{
                border-radius: 0px;
                margin:0px;
                height: 34px;
            }
        }
    }

    #user-gender{
        label{
            margin-right: 15px;
            font-weight: 400 !important;
        }
    }

}

.kv-expand-icon,.kv-expand-header-icon{
    font-size: 13px;
}

form{
    label{
        //font-weight: 400;
    }
}

.tt-dropdown-menu{
    box-shadow: 1px 0px 4px 1px #ddd;
    border: 1px solid rgba(221, 221, 221, 0.1);
}

.combodate{
    select{
        padding: 5px 10px;
        border-radius: 3px;
    }
}


#loading{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    /* width: 100px; */
    margin-top: -45px;
    z-index: 1000;
    display: none;
    img{
        width: 70px;
    }
}

.form-search{
    position: relative;

    input{
        min-width: 300px;
        height: 34px;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 0px 45px 0px 7px;
    }
    button{
        position: absolute;
        background: #f3f1f1;
        border: none;
        margin-left: -39px;
        border-radius: 0px 3px 0px 0px;
        top: 1px;
        font-size: 22px;
        padding: 0.5px 9px;
        color: #cccbcb;
    }
}