.dropdown {
  position: relative;
}
.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}
.dropdown ul {
  margin: -1px 0 0 0;
}
.dropdown dd {
  position: relative;
}
.dropdown a,
.dropdown a:visited {
  text-decoration: none;
  outline: none;
  font-size: 12px;
}
.dropdown dt a {
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 272px;
}
.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}
.dropdown dd ul {
  border: 0;
  display: none;
  top: 2px;
  width: 280px;
  list-style: none;
  height: 140px;
  overflow: auto;
}
.dropdown span.value {
  display: none;
}
.dropdown dd ul li a {
  padding: 5px;
  display: block;
}
.dropdown dd ul li a:hover {
  background-color: #fff;
}
#print p {
  font-family: "Times New Roman", Georgia, Serif;
}
