.modal-backdrop.in {
    opacity: 0.8;
}

.content-wrapper{
    min-height: 600px;
    padding-top: 62px;
}

#loading{
     position: fixed;
     left: 50%;
     top: 50%;
     margin-left: -45px;
     /* width: 100px; */
     margin-top: -45px;
     z-index: 1000;
     display: none;

     img{
         width: 45px;
     }
 }

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/files/image/loading1.gif) 50% 50% no-repeat #827c7c;
    transition: opacity 0.15s linear;
    opacity: 0.51;
    background-size: 40px 40px;
}


.button_scroll2top
{
    display: none;
    width: 47px;
    height: 68px;
    padding-top: 9px;
    padding-left: 10px;
    position: fixed;
    z-index: 999;
    right: 0px;
    bottom: 42px;
    background: #E98209;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    font-size: 2.0em;
}

.tooltip-inner {
    max-width: 300px;
    width: 150px;
    padding: 10px 0px 10px 0px;
    opacity: 0.8;
    color: #ffffff;
}

.tooltip-arrow{
    opacity:0.8;
    color: #ffffff;
}

.comment_client
{
    width: 58px;
    height: 126px;
    padding-top: 9px;
    position: fixed;
    z-index: 999;
    bottom: 42px;
    cursor: pointer;
    margin-bottom: 70px !important;
    top: 50%;
    margin-top: -90px;
}

.icon-message{
    height: 63px;
    width: 70px;
    background-position: 14px -251px;
    position: relative;
    float: left;
}

.icon-pencil{
    height: 63px;
    width: 70px;
    background-position: -40px -247px;
    position: relative;
    float: left;
    margin-top: 5px;
}

.button_scroll2top:hover
{
    opacity:1.0;
}

body{
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
     display: -webkit-flex; /* Safari */
     display: flex;

     .flex-item {
         -webkit-order: 1; /* Safari */
         order:         1;
     }
 }

.flex-new {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    .flex-item {
        -webkit-order: 1; /* Safari */
        order:         1;
    }
}

#modal-accept-info{
    .close{
        font-size: 40px;
        color: white;
        opacity: 1;
        margin-right: 10px;
        margin-top: 1px;
    }
}


.media-block {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    display: flex;

    .media-image{
    }

    .media-content{
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.slide-main{

    background: url("/files/image/bg/bg_slide.png");
    background-size: cover;

    #myCarousel{
        img{
            width: 100%;
        }

        .carousel-indicators{
            li{
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
        }

        .carousel-control{
            padding-top:21%;
            span{
                font-size: 50px;
            }
        }
    }


    .time-left{
        height:100%;

        .box-header{
            padding:20px;
            color:white;
        }

        .box-countdown{
            background: white;
            padding: 25px 0px;
            #countdown-container{
                width: 272px;
                margin: 0 auto;

                ul{
                    .inn{
                        color:white;
                        font-size: 30px;
                    }
                }
                ul:nth-child(2),ul:nth-child(3) {
                    .inn{
                        background: #2dcb73;
                    }
                    .up{
                        // border-bottom: 1px solid #77b391;
                    }
                }
                ul:nth-child(5),ul:nth-child(6) {
                    .inn{
                        background: #3498db;
                    }
                    .up{
                        //border-bottom: 1px solid #2d8dce;
                    }
                }

                ul:nth-child(8),ul:nth-child(9) {
                    .inn{
                        background: #9b59b6;
                    }

                    .up{
                        //border-bottom: 1px solid #9c67b3;
                    }
                }
                ul:nth-child(11),ul:nth-child(12) {
                    .inn{
                        background: #f39c12;
                    }
                    .up{
                        //border-bottom: 1px solid #b58d4f;
                    }
                }

                .flip-clock-label{
                    bottom:-6px;
                    font-size: 10px;
                    text-transform: uppercase;
                    color: white;
                    padding: 3px 10px;
                }

                .days{
                    .flip-clock-label{
                        background: #2dcb73;
                        border-radius: 14px;
                        left: 4px;
                    }
                }
                .hours{
                    .flip-clock-label{
                        background: #3498db;
                        border-radius: 14px;
                        left: 13px;
                    }
                }
                .minutes{
                    .flip-clock-label{
                        background: #9b59b6;
                        border-radius: 14px;
                        left: 10px;
                        right: auto;
                    }
                }

                .seconds{
                    .flip-clock-label{
                        background: #f39c12;
                        border-radius: 14px;
                        left: 10px;
                        right: auto;
                    }
                }


            }
        }

        .test-now{
            background: white;
            text-decoration: none;
            color: #e88209;
            padding: 13px 20px;
            border-radius: 27px;
            text-transform: uppercase;
            font-weight: bold;
            display: block;
            width: 250px;
            margin: 0 auto;
            font-size: 23px;
        }


    }

}

.nav-tabs-custom{
    padding:0 15px;
    margin-top: 15px;
    li{
        width: 49%;
        margin-right: 1%;
        text-align: center;
        &:hover,&.active{
            margin-bottom: 0;
            a{
                background-color: @color-link !important;
                color:white !important;
                border:none !important;
            }
        }

        a{
            margin-bottom: 15px;
            border:0;
            color:@color-link;
            border-radius: 20px;
            font-size: 17px;
            text-transform: uppercase;
            padding: 5px 0px;
        }
    }
}
.navbar-news{
	border-radius: 0px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 0px;
	ul{
		padding: 10px;
		li{
			margin-right: 30px;
			text-transform: uppercase;
			a{
				padding: 5px 15px;
				color: #fff;
				&:hover,&:focus{
                    //background: #e8810a;
	   				//border-radius: 20px;
	    			//color: #fff;
                    background-color: transparent;
                    padding-bottom: 4px;
                    border-bottom: solid 3px #ffffff;
				}
			}
		}
	}
	background: #0082d0;

	.active{
        border-bottom: solid 3px #ffffff;
        padding-bottom: 4px;
        //background: #e8810a;
	    //border-radius: 20px;
	    //color: #fff;
	}
}

.bg-slide-index{
    background: rgba(0, 0, 0, 0.4);
}
.menu-extra{
    .navbar{
        background: transparent;
        border-color: transparent;
        border:none;
        margin: 0;

        ul{
            li{
                a{
                    color:white;
                    position: relative;
                    padding: 15px 15px;
                    margin-right: 10px;
                    margin-left: 10px;
                    font-size: 16px;
                    /*&:after{
                        content: "";
                        width: 1px;
                        height: 20px;
                        background-color: #55a9dc;
                        position: absolute;
                        right: -13px;
                    }*/
                }

               /* &:last-child{
                    a{
                        &:after{
                            width: 0px;
                        }
                    }
                }*/

                &.active,&:hover{
                    a{
                        background: transparent;
                        border-bottom:4px solid white;
                        color:white;
                    }
                }

                &.active a{
                    &:hover{
                        background: transparent;
                        color:white;
                    }
                }
            }
        }
    }
}



.item-game{
    img{
        border-radius: 12px;
    }

    .desc{
        display: block; /* Fallback for non-webkit */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
    }
}

.friend-play-game{
    .box-content{
        .media-block{
            .media-image{
                img{
                    width: 50px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.breadcrumb-custom{
    padding:15px;
    border-radius: 0;

    li{
        &:not(:first-child){
            &:before{
                content:">";
            }
        }

        a{
            color:white;
            text-decoration: none;
        }

        &.active{
            color:white;
            font-weight: 700;
        }
    }
}

.tab-cm{
    border-bottom:none;

    li{
        a{
            border:none !important;
            text-transform: uppercase;
            border-radius: 0;
            padding: 15px 48px;
            font-size: 14px;
            font-weight: bold;
            color:#333;
        }
        &.active{
            a{
                color:@background-main;
            }
        }
    }
}

.comments{
    .tab-content{
        padding:15px;
    }

    .form-comment{

        form{
            position: relative;
            &:before{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-right: 7px solid #ccc;
                left: -7px;
                top: 20px;
            }

            &:after{
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                border-right: 7px solid #fff;
                left: -5px;
                top: 20px;
            }
            .input-comment{
                border-radius: 0;
                position: relative;

            }
            button{
                border: none;
                color: white;
                background: @background-main;
                padding: 7px 20px;
                text-transform: uppercase;
            }
        }
    }
}

.rank{

    .tab-content{
        position: relative;
        &:before{
            content: "Điểm";
            position: absolute;
            right: 25px;
            background: #0082d0;
            color: white;
            padding: 5px 5px 15px 5px;
            font-size: 12px;
            font-weight: bold;
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            right: 25px;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 11px solid #fff;
            top: 26px;
        }

    }
    .list-rank{
        list-style: none;
        padding: 0;

        li{
            position: relative;

            &:before{
                position: absolute;
                bottom: -8px;
                left: 0;
                background: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 21px;
                text-align: center;
                box-shadow: 0px 0px 1px 1px #c5c2c2;
                font-weight: bold;
            }

            &:nth-child(2){
                &:before{
                    content:"2";
                    color:@color-link;
                }
            }
            &:nth-child(3){
                &:before{
                    content:"3";
                    color:@background-main;
                }
            }
            &:nth-child(4){
                &:before{
                    content:"4";
                    color:red;
                }
            }
            &:nth-child(5){
                &:before{
                    content:"5";
                    color:@color-green;
                }
            }

        }
    }
}

.app-more{
    position: absolute;
    bottom: -66px;
    color: white;
    background: #e98209;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    a{
        color:white;
    }
}

.control p{
    cursor: pointer;
}

.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}

.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;

    &.slideDown{
        transform: translateY(0);
    }
    &.slideUp{
        transform: translateY(-100%);
    }
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}
.clr{
    clear: both;
}

.user-friend-right{
    margin-top: 5px;
    .friend-cancel{
        border: 1px solid #c5c3c3;
        padding: 3px 10px;
        font-size: 13px;
        border-radius: 2px;
    }
    .friend-accept{
        background: #0082d0;
        color: white;
        border: none;
        border-radius: 2px;
        margin-right: 5px;
        font-size: 13px;
        padding: 4px 10px;
    }

}
.user-accept{
    display: table;

    .accept-request{
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }
}

.alert-success{
    color: #324c32;
    background-color: #c0e6b0;
    border-color: #d6e9c6;
}

.require-lock{
    min-height: 600px;
}


.tt-dropdown-menu{
    min-width:300px;
    background: white;
    border-radius: 2px;

    .tt-dataset-0{

        padding:15px 15px 0px 15px;
        float:left;
        width:100%;

        .tt-suggestion{
            float:left;
            width:100%;
            margin-bottom:8px;
            padding-bottom: 8px;
            display: inline-block;

            &:not(:last-child){
                border-bottom:1px solid #f1f1f1;
            }

            .image{
                float:left;
                width: 23%;

                img{
                    box-shadow: 0px 0px 6px 0px rgba(11, 5, 2, 0.08);
                    border-radius: 10px;
                }
            }

            .content{
                float:left;
                margin-left:5px;
                width: 75%;
                a{
                    color:blue !important;
                    &:hover{
                        background:transparent;
                    }
                }
            }


        }
        .btn-sm{
            display: block;
            float:left;
            width:100%;
            color:blue;
            background: transparent;
            border:none;

            margin:0px auto 10px auto;
            font-size: 14px;
        }
    }
}

