.main-footer{
    .footer-top{
        width:100%;
        background-color: #0c9df5;
        border:3px solid #0c9df5;
        .icon-up{
            width: 26px;
            height: 26px;
            z-index: 999;
            margin-top: -3px;
            position: absolute;
            right: 15px;
            opacity: 0.8;
            button{
                border: 1px solid #F7F7F7;
                background-color: #F7F7F7;
            }
        }
    }
    .top{
        background: #25abfb;
        .navbar-footer{
            .navbar-primary{
                width: 410px;
                margin:0 auto;
                float:none;
                li{
                    a{
                        color:white;
                        &:hover{
                            background: transparent;
                        }
                    };
                }
            }

        }
    }

    .bottom{
        position: relative;
        background: url("/files/image/bg/baner-footer.png");
        background-size: cover;
        color:white;
        padding:30px 0px;
        .address-footer{
            display:none;
        }
            img{
                width: 150px;
            }
        a{
            color: #ffffff;
            text-decoration: none;
        }

        .footer-menu{
            ul{
                li{
                    list-style-type: circle;
                    display: inline-block;
                    padding-left: 25px;
                    span{
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }
        }


    }
    .copyright{
        width: 100%;
        padding-top: 20px;
        float: left;
        background-size: cover;
        background-color: #025587;
        padding-bottom: 20px !important;
    }


}