.main-footer .footer-top {
  width: 100%;
  background-color: #0c9df5;
  border: 3px solid #0c9df5;
}
.main-footer .footer-top .icon-up {
  width: 26px;
  height: 26px;
  z-index: 999;
  margin-top: -3px;
  position: absolute;
  right: 15px;
  opacity: 0.8;
}
.main-footer .footer-top .icon-up button {
  border: 1px solid #F7F7F7;
  background-color: #F7F7F7;
}
.main-footer .top {
  background: #25abfb;
}
.main-footer .top .navbar-footer .navbar-primary {
  width: 410px;
  margin: 0 auto;
  float: none;
}
.main-footer .top .navbar-footer .navbar-primary li a {
  color: white;
}
.main-footer .top .navbar-footer .navbar-primary li a:hover {
  background: transparent;
}
.main-footer .bottom {
  position: relative;
  background: url("/files/image/bg/baner-footer.png");
  background-size: cover;
  color: white;
  padding: 30px 0px;
}
.main-footer .bottom .address-footer {
  display: none;
}
.main-footer .bottom img {
  width: 150px;
}
.main-footer .bottom a {
  color: #ffffff;
  text-decoration: none;
}
.main-footer .bottom .footer-menu ul li {
  list-style-type: circle;
  display: inline-block;
  padding-left: 25px;
}
.main-footer .bottom .footer-menu ul li span {
  display: inline-block;
  margin-left: 10px;
}
.main-footer .copyright {
  width: 100%;
  padding-top: 20px;
  float: left;
  background-size: cover;
  background-color: #025587;
  padding-bottom: 20px !important;
}
