.main-header{
    min-height: 82px;
    nav{
        background: @background-main;
    }
    .navbar-header{
        padding-left: 30px;
    }
    .navbar-primary {
        a{
            color:white;
        }
    }

    .navbar-top-frontend{
        >li{
            >a{
                padding:20px 15px;

                &:hover{
                    background: #18608c;
                }
            }

            ul{
                >li{
                    >a{
                        &:hover{
                            background: transparent;
                        }
                    }
                }
            }

            &.open{
                >a{
                    background: #18608c;
                }
            }
        }
    }
}