.br-theme-stars {
    .br-widget {
        height: 40px;
        position: relative;
        &.small{
            height: 20px;
            a, i{
                font-size: 20px;
            }
        }

        a, i {
            font: normal normal normal 20px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            text-decoration: none;
            margin-right: 2px;
            display: block;
            float: left;

            &:after {
                content: '\f005';
                color: #dddddd;
            }

            &:nth-child(1) {
                &.br-active, &.br-selected {
                    &:after {
                        color: #EAA723;
                    }
                }
            }
            &:nth-child(2) {
                &.br-active, &.br-selected {
                    &:after {
                        color: #EA8620;
                    }
                }
            }
            &:nth-child(3) {
                &.br-active, &.br-selected {
                    &:after {
                        color: #EA6F1D;
                    }
                }
            }
            &:nth-child(4) {
                &.br-active, &.br-selected {
                    &:after {
                        color: #EA5819;
                    }
                }
            }
            &:nth-child(5) {
                &.br-active, &.br-selected {
                    &:after {
                        color: #EA4218;
                    }
                }
            }

            &.br-current{
                //border: 1px solid #eee;
            }
        }

        .br-current-rating {
            float: left;
            color: #777;
            font-size: 13px;
            position: absolute;
            right: 0;
            top: 3px;
        }

    }
}

