.br-theme-stars .br-widget {
  height: 40px;
  position: relative;
}
.br-theme-stars .br-widget.small {
  height: 20px;
}
.br-theme-stars .br-widget.small a,
.br-theme-stars .br-widget.small i {
  font-size: 20px;
}
.br-theme-stars .br-widget a,
.br-theme-stars .br-widget i {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
  display: block;
  float: left;
}
.br-theme-stars .br-widget a:after,
.br-theme-stars .br-widget i:after {
  content: '\f005';
  color: #dddddd;
}
.br-theme-stars .br-widget a:nth-child(1).br-active:after,
.br-theme-stars .br-widget i:nth-child(1).br-active:after,
.br-theme-stars .br-widget a:nth-child(1).br-selected:after,
.br-theme-stars .br-widget i:nth-child(1).br-selected:after {
  color: #EAA723;
}
.br-theme-stars .br-widget a:nth-child(2).br-active:after,
.br-theme-stars .br-widget i:nth-child(2).br-active:after,
.br-theme-stars .br-widget a:nth-child(2).br-selected:after,
.br-theme-stars .br-widget i:nth-child(2).br-selected:after {
  color: #EA8620;
}
.br-theme-stars .br-widget a:nth-child(3).br-active:after,
.br-theme-stars .br-widget i:nth-child(3).br-active:after,
.br-theme-stars .br-widget a:nth-child(3).br-selected:after,
.br-theme-stars .br-widget i:nth-child(3).br-selected:after {
  color: #EA6F1D;
}
.br-theme-stars .br-widget a:nth-child(4).br-active:after,
.br-theme-stars .br-widget i:nth-child(4).br-active:after,
.br-theme-stars .br-widget a:nth-child(4).br-selected:after,
.br-theme-stars .br-widget i:nth-child(4).br-selected:after {
  color: #EA5819;
}
.br-theme-stars .br-widget a:nth-child(5).br-active:after,
.br-theme-stars .br-widget i:nth-child(5).br-active:after,
.br-theme-stars .br-widget a:nth-child(5).br-selected:after,
.br-theme-stars .br-widget i:nth-child(5).br-selected:after {
  color: #EA4218;
}
.br-theme-stars .br-widget .br-current-rating {
  float: left;
  color: #777;
  font-size: 13px;
  position: absolute;
  right: 0;
  top: 3px;
}
