#form-document{
    #total-round{
        width: 60px;
        text-align: center;
        font-weight: bold;
        margin: 0px 10px;
        border-radius: 3px;
        border: 1px solid #ddd;
        padding: 5px;
    }
}