#list-app{
    background-color: white;

    .header{
        background-color: @background-main;
        color:white;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-top: 27px solid transparent;
            border-bottom: 0px solid transparent;
            border-right: 22px solid #0272b4;
            left: -22px;
            top: 0;
        }
    }

    .content{
        .nav-tabs{
            padding:0 15px;
            margin-top: 15px;
            li{
                width: 49%;
                margin-right: 1%;
                text-align: center;
                &:hover,&.active{
                    margin-bottom: 0;
                    a{
                        background-color: @color-link;
                        color:white;
                    }
                }

                a{
                    margin-bottom: 15px;
                    border:0;
                    color:@color-link;
                    border-radius: 20px;
                    font-size: 17px;
                    text-transform: uppercase;
                    padding: 5px 0px;
                }
            }
        }

        .tab-content{
            .item{
                .media-image{
                    img{
                        width: 40px;
                        border-radius: 5px;
                    }
                }

                .media-content{
                    margin-left: 20px;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 250px;
                    a{
                        margin: 7px 0px;
                        font-weight: bold;
                        color: #0082d0;
                        font-size: 13px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#group-widget{
    h4{
        padding-left:40px;
    }
    .icon-group {
        background-image: url('/files/image/icon/icon-cpvm.png');
        background-position: -345px -6px;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        position: absolute;
        float: left;
        margin-top: -3px;
    }

    .box-content{
        .media-block{
            .media-image{
                img{
                    width: 100px;
                }
            }
        }
    }

}

.friend-play-game{
    .box-header {
        h4{
            padding-left: 40px !important;
        }
        .icon-game {
            background-image: url('/files/image/icon/icon-cpvm.png');
            background-position: -10px -3px;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            position: absolute;
            float: left;
            margin-top: -3px;
        }
    }
}

.new-play{
    .box-header {
        h4 {
            padding-left: 40px !important;
        }
        .icon-new-play {
            background-image: url('/files/image/icon/icon-cpvm.png');
            background-position: -280px -41px;
            background-repeat: no-repeat;
            width: 35px;
            height: 35px;
            position: absolute;
            float: left;
            margin-top: 3px;
        }
    }
    .content{
        .media-description{
            height: 40px;
        }
    }
}

