.nav-tabs {
    border-bottom: 1px solid @primary;
    padding-bottom: 1px;

    > li {
        > a {
            color: @primary;
        }
        &.active{
            a, a:hover, a:focus{
                background-color: @primary;
                color: #fff;
            }
        }
    }
}

.tabs-frame{
    border-bottom: 1px solid @primary;

    .nav-tabs {
        border-bottom: none;
        &:extend(.container-fluid);
    }
}